{% if isError or isSuccess %}
    {% include 'Components/_message.twig' %}
{% endif %}
<form action="" method="post" class="col-sm-9 col-sm-offset-1 form-horizontal page-form" enctype="multipart/form-data">
    <input type="hidden" value="{{ csrf_token }}" name="{{ csrf_key }}">
	<div class="form-box">
		<div class="form-group">
			<label for="depositAmount" class="col-sm-4">Jumlah Deposit</label>
			<div class="col-sm-8">
				<input type="text" id="amount_idr" name="amount_usd" class="form-control" value="{{ amount_usd }}">
			</div>
		</div>
		<div class="form-group">
			<label for="transferAmount" class="col-sm-4">Total Transfer</label>
			<div class="col-sm-8">
				<input type="text" id="amount_usd" name="amount_idr" class="form-control" value="{{ amount_idr }}">
			</div>
		</div>
		<div class="form-group">
			<label for="loginNumber" class="col-sm-4">Nomor Login MabesForex</label>
			<div class="col-sm-8">
				<input type="text" id="client" name="login" class="form-control" value="{{ login }}">
			</div>
		</div>
		<div class="form-group">
			<label for="accountName" class="col-sm-4">Nama Akun MabesForex</label>
			<div class="col-sm-8">
				<input type="text" id="full_name" name="full_name" class="form-control" value="{{ full_name }}">
			</div>
		</div>
		<div class="form-group">
			<label for="transferTo" class="col-sm-4">Transfer Ke</label>
			<div class="col-sm-8">
				<select name="bank_to" id="bank_to" class="form-control">
                    {% for item in bank %}
                        <option value="{{ item.getBankId }}">{{ item.getBankName  }} | {{ item.getBankAccount }}</option>
                    {% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="transferFrom" class="col-sm-4">Transfer Dari</label>
			<div class="col-sm-8">
				<select name="bank_from" id="bank_from" class="form-control">
                    <option value="BCA">BCA</option>
                    <option value="MANDIRI">MANDIRI</option>
                    <option value="BNI">BNI</option>
                    <option value="Lainnya">Lainnya</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="accNumber" class="col-sm-4">Nomor Rekening</label>
			<div class="col-sm-8">
				<input type="text" id="account_number" name="account_number" class="form-control" value="{{ account_number }}">
			</div>
		</div>
		<div class="form-group">
			<label for="accHolder" class="col-sm-4">Nama Pemilik Rekening</label>
			<div class="col-sm-8">
				<input type="text" id="account_name" name="account_name" class="form-control" value="{{ account_name }}">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-4">E-Mail</label>
			<div class="col-sm-8">
				<input type="text" id="email" name="email" class="form-control" value="{{ email }}">
			</div>
		</div>
		<div class="form-group">
			<label for="phoneNumber" class="col-sm-4">Nomor Handphone (ex. 081654453432)</label>
			<div class="col-sm-8">
				<input type="text" id="phone" name="phone" class="form-control" value="{{ phone }}">
			</div>
		</div>
		<div class="form-group">
			<label for="transferFile" class="col-sm-4">File Bukti Transfer</label>
			<div class="col-sm-8">
				<input type="file" id="upload_file" name="upload_file" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="captcha" class="col-sm-12 text-center">Ketik ulang teks berikut</label>
			<div class="col-sm-8 col-sm-offset-2 captcha-img">
				<img src="{{ captcha.inline() }}" class="center-block" alt="">
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<input type="text" id="captcha" name="captcha" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-3">
				<button type="submit" class="btn btn-primary btn-block">
					Kirim
				</button>
			</div>
		</div>
	</div>
</form>
