{% extends 'base.twig' %}

{% block pagetitle %}Administrator - List Akun{% endblock %}

{% set adminTemplate = true %}
{% set withoutHeader = true %}
{% set withoutFooter = true %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">List Akun - {{ accounts|length }} akun</div>
                <div class="panel-body">
                    {% if isError or isSuccess %}
                        {% include 'Components/_message.twig' %}
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" data-render-table>
                            <thead>
                            <tr>
                                <td valign="middle" class="text-center">MyHotForexId</td>
                                <td valign="middle" class="text-center">Nama Lengkap</td>
                                <td valign="middle" class="text-center">Detail Bank</td>
                                <td valign="middle" class="text-center">Kontak</td>
                                <td valign="middle" class="text-center" width="150px">Action</td>
                            </tr>
                            </thead>
                            {% for item in accounts %}
                                <tr>
                                    <td valign="middle" class="text-center">
                                        <span class="ticketID"><strong>{{ item.getAccountId() }}</strong></span>
                                    </td>
                                    <td valign="middle" class="text-center">
                                        <span class="amount">{{ item.getFullName() }}</span>
                                    </td>
                                    <td valign="middle" class="text-center">
                                        <span class="accNumber">{{ item.getAccountNumber() }} - {{ item.getBankName() }}</span>
                                        <br>
                                        <span class="accName">a/n {{ item.getFullname() }}</span>
                                    </td>
                                    <td valign="middle" class="text-center">
                                        <span class="email">{{ item.getEmail() }}</span>
                                        <br>
                                        <span class="phone">{{ item.getPhone() }}</span>
                                    </td>
                                    <td valign="middle" class="text-center">
                                        <div class="btn-group btn-group-justified btn-group-xs">
                                            <a href="{{ base_url }}administrator/account/edit/{{ item.getAccountId() }}" class="btn btn-primary">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
